<!DOCTYPE html>
<html>
<head>
  <title>Photoshare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="new_post_path">New Post</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




<div class="container">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>
  <% end %>
  <%= yield %>
</div>

<style>
// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #fafafa;
	font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica,sans-serif;
}

.navbar-brand {
	a {color: #125688;  
	}
}

.navbar-default{
	background-color: #fff;
	height: 54px;
	.navbar-nav li a {
		color: #125688;
	}
}

.navbar-container{
	width: 640px;
	margin: 0 auto;
}

.posts-wrapper{
	padding-top: 40px;
	margin: 0 auto;
	max-width: 642px;
	width: 100%;
}

.post{
	background-color: #fff;
	border-color: #edeeee;
	border-style: solid;
	border-radius: 3px;
	border-width: 1px;
	margin-bottom: 60px;
}

.post-head{
	height: 64px;
	padding: 14px 20px;
	color: #125688;
	font-size: 15px;
	line-height: 18px;
	.thumbnail{}
	.name{
		display: block;
	}
}

.image{
	border-bottom: 1px solid #eeefef;
	border-top: 1px solid #eeefef;
}

.caption{
	padding: 24px 24px;
	font-size: 15px;
	line-height: 18px;
}

.form-wrapper{
	width: 60%;
	margin: 20px auto;
	background-color: #fff;
	padding: 40px;
	border: 1px solid #eeefef;
	border-radius: 3px;
}

.edit-links{
	margin-top: 20px;
	margin-bottom: 40px
}


</style>
<%= yield %>

</body>
</html>
